[Unit]
Description=ZFS Replication With Syncoid
Requires=zfs.target
After=zfs.target
OnFailure=notify-status@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/replication
User=core
Group=core

