[Unit]
Description=Scrub Zpool the first Monday of each month

[Timer]
Unit=zpool-scrub.service
OnCalendar=Mon *-*-01..07 22:00:00
Persistent=true

[Install]
WantedBy=timers.target
